	body{
	font-family: 'Oswald', sans-serif;
	}

		
		#dhoni{
			float:right; 
		}



	a{
		color: #87CEEB;
	}
	a:hover{
		color: #87CEEB;
	}

	.navbar-brand img{
		margin-top: -3px;

	}

	.navbar-brand *{
	color: white;
	}

	.jumbotron{
		height: 200px;
		overflow: hidden;
	}
	.jumbotron #details{
		position: absolute;
		color: white;

	}
	.jumbotron #details span{
	color: #87CEEB;
	}

	.jumbotron img{
		width: 100%;

	}
	section .widgets{

		margin-bottom:20px;
	}
	.popular{
		background:white;
		padding:15px;
		border-radius:20px;
		border:1px solid;

	}

	.popular ul li{
		list-style: none;
	}

	.popular img{
	width: 100%;
	margin-top: 12px;
	}
	.details {

		margin-left:-20px;
	}
	.popular .details p{
		font-family:arial;
		font-size: 11px;

	}


	.post{
		background : white;
		border: 1px solid #E3E3E3;
		margin: 15px 0px;
	}
	.post a img{
		width: 100%;
	}
	.post-date{
		padding: 20px;
		
		text-align: center;

	}

	.day{
		font-size:30px;
		color: #24A7CF;
	}
	.month{
	font-size:18px;
	}
	.year{
	font-size:15px;
	font-weight: 100;
	}
	.post-title{
	padding: 5px 20px 25px 25px;
	border-left:1px solid #E3E3E3;
	height: 100%;
	}
	.post-title span{
	color: #24A7CF;
	font-weight: 100;
	margin-left: : 10px;
	}

	.profile-picture{
	padding: 20px;
	}
	.profile-picture img{
	width:70px;
	}

		.item{
			
		}

	.item a img{
 			display: block;
           width:100%;
   
}


	.desc{
		font-family: arial;
		font-weight: 100;
		padding: 10px;
		line-height: 20px;
	}
	.ram{
	margin-left:  10px;
	margin-bottom:10px;
	}
	.post .bottom{
	padding: 10px 20px;
	border-top:  1px solid #E3E3E3;
	color: #C6C6C6;
	}

	.post .bottom .first{
	margin-right: 10px;
	}
	.post .bottom .second{
	margin-left: 20px;
	}
	nav#page{
	text-align: center;

	}
	.pagination li a{
	padding:15px 25px;
	font-size: 15px;
	}



	.mojFooter{
    background-color: #f8f8f8;
    color: #00a651;
    padding-top: 0px;
    border-top: 1px solid #e7e7e7;
    margin-bottom: 0px;
}

.bottom-footer{
    border-top: 1px solid #00a651;
    margin-top: 0px;
    padding-top: 7px;
    color: #00a651;

}

.footer-nav li{
    display: inline;
    padding: 0px 40px;
}

.footer-nav a{
    color: grey;
    text-decoration: none;
}
h
	/*footer{
		background: #2FA4E7;
		color: white;
		height: 50px;
		line-height: 50px;
		font-size:12px ; 
		position:absolute;
		bottom: 0;
		width: 100%;
	}*/
	.contact-form{
	background: white;
	padding: 80px 25px;

	}

	.contact-form h2{

		color: #24A7CF;
	}
	.contact-form textarea{

		resize: none;
	}
	.related-posts{
	background: white;
	padding: 20px;
	margin-bottom: 15px;
	border: 1px solid #E3E3E3;
	}

	.related-posts img{
	width:100%;
	}
	.related-posts h3{
	color:  #24A7CF;
	}

	.author{

		background: white;
		padding: 20px;
		margin-bottom: 15px;
		border: 1px solid #E3E3E3;

	}
	.author img{
	width: 100%;

	}

	.author h4{
	color: #24A7CF;
	text-decoration: underline;
	}

	.author p{
	font-family: arial;

	}
	.comment{
		background: white;
		padding: 20px;
		margin-bottom: 15px;
		border: 1px solid #E3E3E3;
	}
	.comment h3{
		color: #24A7CF;
	}
	
	.comment h4{
		color: #24A7CF;
	}
	
	.comment p{
		font-family: arial;
		
	}
	.comment .single-comment{
		margin-bottom: 30px;
	}
	.comment img{
		width: 100%;
	}

	.comment-box{
		background: white;
		padding: 20px;
		margin-bottom: 15px;
		border: 1px solid #E3E3E3;
	}
	.comment-box textarea{

		resize: none;
	}


@media (max-width: 992px){
	
	.post .profile-picture{

		text-align: center;
		margin-top: -40px;
	}


	.post .profile-picture img{
		width: 25%;
	}
	.post .post-title{
		
		text-align: center;
		border: none;
	}

}


@media (max-width: 786px){
	
	.jumbotron #details{
		margin-top: 20px;
	}
	.post .post-title{
		margin-top: -30px;
		text-align: center;
	}
	.post .profile-picture{

		text-align: center;
	}


	.post .profile-picture img{
		width: 25%;
	}

	.pagination li a{
		font-size: 13px;
		padding: 10px 12px;
	}
	footer{
		font-size: 9px;
		letter-spacing: 0px;
	}

	.navbar-inverse .navbar-nav > li > a{

	text-align: center;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li >a{
	text-align: center;
	}
	.author{

		background: white;
		padding: 20px;
		margin-bottom: 15px;
		text-align: center;
	}

	.author img{
	width: 30%;

	}

	.author h4{
	color: #24A7CF;
	text-decoration: underline;
	}

	.author p{
	font-family: arial;

	}

	.comment{
		background: white;
		padding: 20px;
		margin-bottom: 15px;
	}
	.comment h3{
		color: #24A7CF;
	}
	
	.comment h4{
		color: #24A7CF;
	}
	
	.comment p{
		font-family: arial;
		
	}
	.comment .single-comment{
		margin-bottom: 30px;
		text-align: center;
	}
	.comment img{
		width: 30%;
	}



}
